<h1>Student Form</h1>
<% if session[:form_params]%>
<%= session[:form_params] %>
<% end %>

<%= form_tag students_path do %>
<label for="">First Name</label>
<%= text_field_tag :'student[first_name]'%>

<label for="">Last Name:</label>
<%= text_field_tag :'student[last_name]'%>

<%= submit_tag "Submit Student" %>


<% end %>